<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniworld.dao.EventSysDao">
    <select id="isTableExist" parameterType="string" resultType="int">
        select count(*) from information_schema.TABLES where  TABLE_SCHEMA='eventSys' and table_name = #{tableName}
    </select>
</mapper>